.container{
    width: 90%;
    margin: 10% auto;
}

/* Menu */

.menuContainer{
    display: flex;
    background-color: white;
    padding: 1.5rem;
    justify-content: space-between;

}

.link {
    padding: 0.5rem;
    background-color: #efefef;
}

.link:hover{
    background-color: black;
    color: white;
}