@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body{
  margin: 0;
  box-sizing: border-box;
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

h2{
  font-size: 62px;
  margin: 20px 0 0 0;
}