/* llamado desde store/index */

.productContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

/* fin */

.container{
    width:90%;
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
}
.title{
    text-align: center;
}

.img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.description{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.h31{
    text-align: center;
    margin: auto auto;
}


.cart{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 20%;
}

@media  (max-width:600px) {
    .productContainer{
        grid-template-columns: repeat(2,1fr);
        
    }
}


/*Page*/

.containerPage{
    display: grid;
    background-color: white;
    width: 90%;
    align-items: center;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    
}

.imgPage{
    width: 90%;
    display: block;
    margin: auto auto;
    padding: 0.2rem;
    flex-grow: 2;
}
.descriptionPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.descriptionPage>div{
    word-wrap: break-word;
}
.cartPage {
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    
}

.cartPage>i{
    cursor: pointer;
}
.pricePage{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width:600px){

    .containerPage{
        display: block;
    }

}


/* Lista con totales */

.containerList{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(209, 206, 206);
}

.imgList{
    max-width: 80px;
    margin: auto 0;
}

.delete{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.btnsAdd {
    display: grid;
    justify-content: space-around;
    margin: 0.2rem;
    position: absolute;
    top: 30px;
    right: 5px;
    
}

/*Index.js pages*/

.bannerBackground{
    background-image: url(https://images.pexels.com/photos/1292464/pexels-photo-1292464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 200px;
    background-size: cover;
    background-color: blueviolet;
    color: white;
    padding: 5%;
}